[0-9]*/
[add,mag]*(*)
[cell,point]*Level
[cell,point]*ToRegion
*.foam
*.log
*.OpenFOAM
/0/*
/constant/boundaryData/
/constant/polyMesh/
/constant/triSurface/
dynamicCode/
extendedFeatureEdgeMesh/
log.*
logs/
postProcessing*/
processor*/
VTK/

!/0/
!/0/*.orig
